{% extends 'base.html.twig' %}

{% block title %}New Skill{% endblock %}

{% block body %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Create new Skill</h1>
        <p class="lead">Choose the name of your new Skill.</p>
    </div>

    <div class="container mb-5">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="clearfix">
                <button class="btn">{{ button_label|default('Save') }}</button>
                <a href="{{ path('skill_index') }}" class="btn btn-primary float-right" role="button">Back to list</a>
            </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
